@model IEnumerable<WebSite.Models.Item>

@{
    ViewBag.Title = "Carrinho";
}
<!DOCTYPE html>

<head>
    <link href="~/CSS/Principal.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/JavaScript1.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <title>Carofour</title>
</head>

<body>
    <div id="container">

        <div id="idiomas">@Html.ActionLink("Português", "Idioma", "Carrinho", new { id = "PT" }, new { id = "PT" }) / @Html.ActionLink("Espanhol", "Idioma", "Carrinho", new { id = "ES" }, new { id = "ES" })</div>
        <div id="cabecalho">
            <div id="CarrinhoCompras"></div>
            Carofour
        </div>

        <div id="botoes">
            <div id="btnComprarProduto"><input type="button" name=btnComprarProduto value="@ViewBag.btnContinuarComprando" onclick="location.href='@Url.Action("Produtos", "Produto", new { produto = "1" })'"></div>
            <div id="btnFecharCompra"><input type="button" name=btnFechaCompra value="@ViewBag.FecharCompra" onclick="location.href='@Url.Action("ConfirmaCompra","Cliente")'"></div>
            <div id="btnCarrinho"><input type="button" name=btnCarrinho value="@ViewBag.LimparCarrinho" onclick="location.href='@Url.Action("LimparCarrinho", "Carrinho")    '"> </div>
        </div>

        <div id="conteudo">

            <table>
                <tr>
                    <th width="800px">&nbsp @ViewBag.Nome</th>
                    <th width="150px">&nbsp @ViewBag.Preco &nbsp</th>
                    <th>&nbsp @ViewBag.Quantidade</th>
                    <th>&nbsp</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        @using (Html.BeginForm("Carrinho","Carrinho",FormMethod.Post))
                        {
                            <td> <input type="hidden"  name="produtoId" value="@Html.DisplayFor(modelItem => item.id)" />
                                @Html.DisplayFor(modelItem => item.descricao)</td>
                            <td>R$ @Html.DisplayFor(modelItem => item.preco)</td>
                            <td>@Html.TextBox("quantidade", item.quantidade)</td>
                            <td>@Html.ActionLink("Remover", "RemoverItemCarrinho","Carrinho", new { id = @Html.DisplayFor(modelItem => item.id) },null) </td>
                            <td><input type="submit" value="@ViewBag.Atualizar" /></td>
                        }
                            
                    </tr>
                }



            </table>

            <div id="subtotal">
                <b>@ViewBag.SubTotalV :</b> @ViewBag.SubTotal
            </div>


            <div class="clear"></div>
        </div>


        <div id="rodape">
            @Html.ActionLink((string)ViewBag.Voltar, "Index", "Principal")
            <hr>Carofour - contato@carofour.com.br
        </div>

    </div>
</body>