@{
    ViewBag.Title = "CompraFinalizada";
}

<!DOCTYPE html>

<head>
    <link href="~/CSS/Principal.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Carofour</title>
</head>

<body>
    <div id="container">

        <div id="idiomas">Português / Espanhol</div>
        <div id="cabecalho">
            <div id="CarrinhoCompras"></div>
            Carofour
        </div>

        <div id="conteudo">

            <div id="formularioCliente">
                <fieldset>
                    <legend>Endereço de Entrega</legend>
                    <br />

                    @ViewBag.DadosCompra
                    
                    <br />
                    <br />
                    <br />
                    <b><i>O Carefour agradece sua compra! Volte Sempre!!!</i></b>
                                     
                </fieldset>
            </div>

            <div id="CondicoesCompra">
                <fieldset>
                    <legend>Pedido</legend>
                    <b>Número do Pedido: @ViewBag.NumeroPedido<br /></b>
                    Previsão de Entrega: @ViewBag.DataEntrega<br />
                </fieldset>

            </div>

            <div id="subtotal2">
                <fieldset>
                    <legend>Resumo do Pedido</legend>
                    @ViewBag.ResumoPedido
                    <b>SubTotal:</b> @ViewBag.ValorTotalCompra
                </fieldset>
            </div>

            <div id="Instrucoes">
                <fieldset>
                    <legend>Informações Complementares</legend>
                    O carefour busca o melhor atendimento sempre.<br />
                    Caso tenha alguma dúvida em relação a sua compra entre <br />
                    em contato com o nosso SAC 0800 2014 040. <br />
                </fieldset>
            </div>

            <div class="clear"></div>
        </div>

        <div id="rodape">
            @Html.ActionLink("Voltar para página inicial", "Index","Principal")
            <hr>Carofour - contato@carofour.com.br
        </div>

    </div>
</body>
