@{
    ViewBag.Title = "CompraFinalizada";
}

<!DOCTYPE html>

<head>
    <link href="~/CSS/Principal.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Carofour</title>
</head>

<body>
    <div id="container">

        @*<div id="idiomas">@Html.ActionLink("Português", "Idioma", "Cliente", new { id = "PT" }, new { id = "PT" }) / @Html.ActionLink("English", "Idioma", "Cliente", new { id = "EN" }, new { id = "EN" })</div>*@
        <div id="cabecalho">
            <div id="CarrinhoCompras"></div>
            Carofour
        </div>

        <div id="conteudo">

            <div id="formularioCliente">
                <fieldset>
                    <legend>@ViewBag.EndEntrega</legend>
                    <br />

                    @ViewBag.DadosCompra

                    <br />
                    <br />
                    <br />


                </fieldset>
            </div>

            <div id="CondicoesCompra">
                <fieldset>
                    <legend>@ViewBag.Pedido</legend>
                    <b>@ViewBag.NumP : @ViewBag.NumeroPedido<br /></b>
                    @ViewBag.PrevEnt : @ViewBag.DataEntrega<br />
                </fieldset>

            </div>

            <div id="subtotal2">
                <fieldset>
                    <legend>@ViewBag.Resumo</legend>
                    @ViewBag.ResumoPedido
                    <b>@ViewBag.Valor :</b> @ViewBag.ValorTotalCompra
                </fieldset>
            </div>

            <div id="Instrucoes">
                <fieldset>
                    <legend>@ViewBag.Inf</legend>
                    @ViewBag.InfC
                    @ViewBag.InfB
                </fieldset>
            </div>

            <div class="clear"></div>
        </div>

        <div id="rodape">
            @Html.ActionLink((string)ViewBag.Voltar, "Index", "Principal")
            <hr>Carofour - contato@carofour.com.br
        </div>

    </div>
</body>
