@model WebSite.Models.Cliente

@{
    ViewBag.Title = "ConfirmaCompra";
}
<!DOCTYPE html>

<head>
    
    <meta name="viewport" content="width=device-width" />    
    <link href="~/CSS/Principal.css" rel="stylesheet" />
    <script src="~/Scripts/JavaScript1.js"></script>
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
 
    <script>
        //Quando o usuário digitar o telefone só será possivel número.
        $(document).ready(function () {
            $("#telefone").keypress(verificaNumero);
        });
    </script>


    <title>Carofour</title>
</head>

<body>
    <div id="container">

        <div id="idiomas">@Html.ActionLink("Português", "Idioma", "Cliente", new { id = "PT" }, new { id = "PT" }) / @Html.ActionLink("Espanhol", "Idioma", "Cliente", new { id = "ES" }, new { id = "ES" })</div>
        <div id="cabecalho">
            <div id="CarrinhoCompras"></div>
            Carofour
        </div>

        <div id="conteudo">

            <div id="formularioCliente2">

                @using (Html.BeginForm("ConfirmaCompra","Cliente",FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>
                        <legend>@ViewBag.Cliente</legend>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.nome)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.nome)
                            @Html.ValidationMessageFor(model => model.nome)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.email)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.email)
                            @Html.ValidationMessageFor(model => model.email)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.senha)
                        </div>
                        <div class="editor-field">
                            @Html.PasswordFor(model => model.senha)
                            @Html.ValidationMessageFor(model => model.senha)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.dataNascimento)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.dataNascimento)
                            @Html.ValidationMessageFor(model => model.dataNascimento)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.sexo)                            
                        </div>
                        <div class="editor-field">
                            Feminino @Html.RadioButtonFor(model => model.sexo, "0")
                            Masculino @Html.RadioButtonFor(model => model.sexo, "1")                            
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.endereco)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.endereco)
                            @Html.ValidationMessageFor(model => model.endereco)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.telefone)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.telefone)
                            @Html.ValidationMessageFor(model => model.telefone)
                         
                        </div>

                        <p>
                            <input type="submit" value="@ViewBag.ConfirmaCompra" onclick="return verificarDadosCliente()" />
                        </p>

                    </fieldset>
                }
                
            </div>
            
            <div id="CondicoesCompra2">
                <fieldset>
                    <legend>@ViewBag.FormaPg</legend>
                    <input type="radio" name="sex" value="Boleto">@ViewBag.Boleto<br>
                    <input type="radio" name="sex" value="Cartao">@ViewBag.Cartao
                </fieldset>

            </div>

            <div id="subtotal3">
                <fieldset>
                    <legend>@ViewBag.Resumo</legend>
                    @ViewBag.ItensPedido
                    <br />
                    <b>@ViewBag.Frete</b><br />
                    <b>@ViewBag.Valor :</b> @ViewBag.ValorTotalCompra <br />
                    <b>Total:</b> @ViewBag.ValorTotalCompra
                </fieldset>
            </div>

            <div id="Instrucoes2">
                <fieldset>
                    <legend>@ViewBag.Inf</legend>
                    <i>@ViewBag.InfA</i> <br /><br />
                       @ViewBag.InfB                  
                </fieldset>
            </div>

            <div class="clear"></div>
        </div>

        <div id="rodape">
           @Html.ActionLink((string)ViewBag.Voltar, "Index", "Principal")
            <hr>Carofour - contato@carofour.com.br
        </div>

    </div>
</body>