@model IEnumerable<WebSite.Models.Categoria>

@{
    ViewBag.Title = "Categoria";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/CSS/Principal.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Saudacao</title>
</head>

<body>
    <div id="container">

        <div id="idiomas">@Html.ActionLink("Português", "Idioma", "Principal", new { id = "PT" }, new { id = "PT" }) / @Html.ActionLink("Espanhol", "Idioma", "Principal", new { id = "ES" }, new { id = "ES" })</div>
        <div id="cabecalho">
            <div id="CarrinhoCompras"></div>
            Carofour
        </div>

        <div id="conteudo">
            <div id="boasVindas">@ViewBag.index_bemVindo</div>
            <div id="ContainerCategorias">
                @foreach (var categoria in Model)
                {
                    <div id="GrdCategoria" style="background: @Html.DisplayFor(modelItem => categoria.urlImagem);height:185px;width:440px;float:left;margin:5px;font-size:50px;color:Snow;"> @Html.ActionLink(@Html.DisplayFor(modelItem => categoria.nome).ToString(), "Produtos", "Produto", new { produto = @Html.DisplayFor(modelItem => categoria.id) }, null)  </div>
                }
            </div>
            <div class="clear"></div>
        </div>
        <div id="rodape"><hr>Carofour - contato@carofour.com.br</div>
    </div>
</body>
</html>
