@model IEnumerable<WebSite.Models.Item>

@{
    ViewBag.Title = "Produtos";
}

<!DOCTYPE html>
<head>
    <link href="~/CSS/Principal.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Carofour - Produtos por Categoria</title>
</head>

<body>
    <div id="container">

        <div id="idiomas">Português / Espanhol</div>
        <div id="cabecalho">
            <div id="CarrinhoCompras"></div>
            Carofour
        </div>


        <div id="botoes">
            <div id="btnCarrinho"><input type="button" name=btnCarrinho value="Ver Carrinho" onclick="location.href='@Url.Action("Carrinho", "Carrinho")    '"> </div>
        </div>


        <div id="conteudo">
            <div id="boasVindas2">
                <div id="laticinios2"><a href="@Url.Action("Produtos", "Produto", new { produto = "3" })"> <img alt="laticinio" src="../Resources/laticinios2.jpg" /> </a></div>
                <div id="carnes2"> <a href="@Url.Action("Produtos", "Produto", new { produto = "1" })"> <img alt="Carnes" src="../Resources/carne2.jpg" /> </a></div>
                <div id="padaria2"> <a href="@Url.Action("Produtos", "Produto", new { produto = "4" })"> <img alt="Padaria" src="../Resources/padaria2.jpg" /> </a></div>
                <div id="hortifrutigranjeiros2"> <a href="@Url.Action("Produtos", "Produto", new { produto = "2" })"> <img alt="Hortifrutigranjeiros" src="../Resources/hortifrutigranjeiro2.png" /></a></div>
            </div>

            <div id="grid">
                @using (Html.BeginForm("Produtos","Produto",FormMethod.Post))
                {
                    <table>
                        <tr>
                            <th>&nbsp</th>
                            <th>&nbsp Nome/Descrição</th>
                            <th>&nbsp Preço &nbsp</th>
                            <th>&nbsp Quantidade</th>
                            <th>&nbsp</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><input type="checkbox" name="produtoId" value="@Html.DisplayFor(modelItem => item.id)"  /></td>
                                <td>@Html.DisplayFor(modelItem => item.descricao)</td>
                                <td>R$ @Html.DisplayFor(modelItem => item.preco)</td>  
                                <td>@Html.TextBox("quantidade", item.quantidade)</td>  
                                <td><input type="submit" value="Comprar Selecionados" /></td>
                            </tr>
                        }
                       
                    </table>
                }
            </div>

            <div class="clear"></div>

        </div>

        <div id="rodape">
            @Html.ActionLink("Voltar para página inicial", "Index","Principal")
            <hr>Carofour - contato@carofour.com.br
        </div>

    </div>
</body>
